.project-card {
    /* border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    background: white;
    transition: transform 0.3s; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    background: white;
    transition: transform 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  
  }
  .bottom-card-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
   

  }
  .project-card:hover {
    transform: scale(1.03);
  }
  .project-img {
    width: 100%;
    border-radius: 10px;
  }
  .project-link img {
    width: 25px;
    
  }